<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="qnaComment">
	<select id="getList" parameterType="int" resultType="qnaCommentDto">
		SELECT num, writer, content, target_id, board_qna_comment.regdate
		FROM board_qna_comment
		INNER JOIN board_user
		ON board_qna_comment.writer = board_user.id
		WHERE num=#{num}
		ORDER BY num ASC
	</select>
	<insert id="insert" parameterType="qnaCommentDto">
		INSERT INTO board_qna_comment
		(num, writer, content, target_id,regdate)
		VALUES(#{num}, #{writer}, #{content}, #{target_id}, SYSDATE)
	</insert>
	<select id="getSequence" resultType="int">
		SELECT board_qna_comment_seq.NEXTVAL
		FROM DUAL
	</select>
</mapper>